body {
    margin: 0px auto;
    width: 480px;
    display: flex;
    flex-flow: wrap;
}

div {
}

@media only screen and (min-width: 769px) {
    body {
        width: 960px;
        justify-content: flex-end;
    }
}